<footer class="site-footer">
  <div class="inner">
    {{ with .Site.Params.copyright }}
      <section class="copyright">{{ . | safeHTML }}</section>
    {{ end }}

    {{ if ne .Site.Params.hidedesignbyline true }}
      <section>
      Fun fact: This website is under 2 MB in total, or about two thirds the size of Earthbound.  <a href="https://ermine.de" target="_blank" rel="noopener">An Ermine project.</a> 
      </section>
    {{ end }}

    {{ if ne .Params.enableGitInfo false }}
      {{- if $.GitInfo -}}
      <section>
       version: {{ .Lastmod.Format "2006-01-02" }} | #{{ .GitInfo.AbbreviatedHash }}
      </section>
      {{- end -}}
    {{ end }}
  </div>
</footer>
